etc/module_info.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="module" type="moduleInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="moduleInfo">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="version" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
